{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}
{% block body %}
  <form action="{{ url_for('admin.stubs_add') }}" method=post class=add-entry>
    <dl>
      {{ render_field(form.url_source) }}
      {{ render_field(form.url_stub) }}    
      <p><input type=submit value="Add Stub">
    </dl>
  </form>
<table class=entries>
  {% for stub in stubs %}
    <tr><td>{{ stub.url_source }}</td><td>{{ stub.url_stub|safe }}</td></tr>
  {% else %}
    <li><em>Missing the stubs...</em>
  {% endfor %}
  </table>
{% endblock %}

