{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>URI:
        <dd><input type=text size=70 name=uri>
        <dt>Short URL:
        <dd><input size=30 type=text name=short_url></input>
        <dd><input type=submit value=Share>
      </dl>
    </form>
  {% endif %}
  <table class=entries>
  {% for entry in entries %}
    <tr><td>{{ entry.uri }}</td><td>{{ entry.short_url|safe }}</td></tr>
  {% else %}
    <li><em>No links created</em>
  {% endfor %}
  </table>
{% endblock %}

